---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import profile_photo from '../profile_photo.jpg'
import GitHub from '../icons/GitHub.astro'
import LinkedIn from '../icons/LinkedIn.astro';
import SocialPic from '../components/SocialPic.astro'
import Mail from '../icons/Mail.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Personal Portfolio - Elias" description='personal portfolio for job landing'>
	<main>
		<SectionContainer id="about" >		
			<img class="rounded-full w-20 h-20 mb-4" src={profile_photo.src} alt="logo for portfolio" >
			<h1 class="text-white text-5xl font-bold flex justify-center gap-x-2 pb-10 ">Hey, I'm Elias! <a href="https://www.linkedin.com/in/emanzurv/" target="_blank" rel="noopener" class="justify-center items-center " ><Badge /></a></h1>
			<h2 class="text-2xl opacity-80"> <span class="text-blue-300/90">Medical doctor turned Junior Software Developer. </span>Self-taught developer with experience in ReactJs, ExpressJs and both Relational and no-SQL databases</h2>
			<nav class="flex gap-x-2 justify-around">
				<SocialPic link="https://www.linkedin.com/in/emanzurv/">
					<LinkedIn class="size-6"/>LinkedIn
				</SocialPic> 
				<SocialPic link="https://github.com/schwann2402">
					<GitHub class="size-6"/>GitHub
				</SocialPic> 
				<SocialPic link="mailto:emanzurv@gmail.com">
						<Mail class="size-6" /> Mail
				</SocialPic>
			</nav>
		</SectionContainer>
	</main>
	<SectionContainer id="projects">
		<Experience />
	</SectionContainer>
</Layout>
