---
import profile_photo from '../profile_photo.jpg'
---

<header class="flex justify-center items-center py-5 w-[1120px] mx-auto fixed font-bold">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#about">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
  </nav>
</header>